

<div class="mt-4">
    <h1>Mange Blogs</h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col" colspan="2">Created At</th>
    </tr>
  </thead>
  <tbody>
      {{#each blogpost}}
    <tr>
      <th scope="row">{{sum @index 1}}</th> 
      <td>{{this.name}}</td>
      <td>{{this.description}}</td>
      <td>{{this.createdAt}}</td>
      <td>
          <a class="btn btn-link" href="/blogs/edit/{{this._id}}">Edit </a>
          
      </td>
       <td>
          <a class="btn btn-link" href="">Xóa</a>
          
      </td>
    </tr>
    {{/each}}
   
  </tbody>
</table>